td
{
	border-right: 1px black solid;
	border-top: 1px black solid;
	padding: 0px;
}
table
{
	border-bottom: 1px black solid;
	border-left: 1px black solid;
	border-top: 1px black solid;
	margin-bottom: 10px;
}